@import url("https://fonts.googleapis.com/css?family=Dosis");
root {
  --color-first: #007BDF;
  --color-first-alt: #006DC6;
  --color-second: #00CBFF;
  --color-second-alt: #00BFF0;
  --color-third: #FF3C32;
  --color-third-alt: #FF2419;
  --color-accent: #FBA905;
  --color-accent-alt: #F1A000;
  --color-light: #F0F0F0;
  --color-dark: #282D31;
  --color-dark-alt: #141618;
  --color-border: #DFE0E0;
  --color-text: #53575A;
  --color-text-light: #BABDBF;
  --color-body-bg: #FCFCFC; }

.color {
  color: var(--color); }

.background {
  background-color: var(--color); }

.first-color, .color-first {
  --color: var(--first-color);
  --color-alt: var(--first-color-alt); }

.second-color, .color-second {
  --color: var(--second-color);
  --color-alt: var(--second-color-alt); }

.third-color, .color-third {
  --color: var(--third-color);
  --color-alt: var(--third-color-alt); }

.accent-color, .color-accent {
  --color: var(--accent-color);
  --color-alt: var(--accent-color-alt); }

.dark-color, .color-dark {
  --color: var(--dark-color);
  --color-alt: var(--dark-color-alt); }

.text-color, .color-text {
  --color: var(--text-color);
  --color-alt: var(--dark-color); }

.light-color, .color-light {
  --color: var(--light-color);
  --color-alt: var(--border-color); }

.first-color-alt {
  --color: var(--first-color-alt); }

.second-color-alt {
  --color: var(--second-color-alt); }

.third-color-alt {
  --color: var(--third-color-alt); }

.accent-color-alt {
  --color: var(--accent-color-alt); }

.dark-color-alt {
  --color: var(--dark-color-alt); }

.border-color {
  --color: var(--border-color); }

.text-color {
  --color: var(--text-color); }

root {
  --color-first: #007BDF;
  --color-first-alt: #006DC6;
  --color-second: #00CBFF;
  --color-second-alt: #00BFF0;
  --color-third: #FF3C32;
  --color-third-alt: #FF2419;
  --color-accent: #FBA905;
  --color-accent-alt: #F1A000;
  --color-light: #F0F0F0;
  --color-dark: #282D31;
  --color-dark-alt: #141618;
  --color-border: #DFE0E0;
  --color-text: #53575A;
  --color-text-light: #BABDBF;
  --color-body-bg: #FCFCFC; }

.color {
  color: var(--color); }

.background {
  background-color: var(--color); }

.first-color, .color-first {
  --color: var(--first-color);
  --color-alt: var(--first-color-alt); }

.second-color, .color-second {
  --color: var(--second-color);
  --color-alt: var(--second-color-alt); }

.third-color, .color-third {
  --color: var(--third-color);
  --color-alt: var(--third-color-alt); }

.accent-color, .color-accent {
  --color: var(--accent-color);
  --color-alt: var(--accent-color-alt); }

.dark-color, .color-dark {
  --color: var(--dark-color);
  --color-alt: var(--dark-color-alt); }

.text-color, .color-text {
  --color: var(--text-color);
  --color-alt: var(--dark-color); }

.light-color, .color-light {
  --color: var(--light-color);
  --color-alt: var(--border-color); }

.first-color-alt {
  --color: var(--first-color-alt); }

.second-color-alt {
  --color: var(--second-color-alt); }

.third-color-alt {
  --color: var(--third-color-alt); }

.accent-color-alt {
  --color: var(--accent-color-alt); }

.dark-color-alt {
  --color: var(--dark-color-alt); }

.border-color {
  --color: var(--border-color); }

.text-color {
  --color: var(--text-color); }

.home {
  padding: 0;
  margin: 0; }

.video {
  --unit: 6vmax;
  --width: calc(var(--unit) * 16);
  --height: calc( var(--unit) * 9);
  width: var(--width);
  height: var(--height); }

.cheff {
  margin: 0;
  padding: 0; }

.portada {
  width: 100%;
  max-width: 960px;
  text-align: center; }

.content-home {
  width: 100%;
  height: 960px;
  background: url(../assets/imagen/ingredientes.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }

.mask {
  width: 100%;
  height: 480px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #ddd; }
  @media (min-width: 1200px) {
    .mask {
      clip-path: polygon(52% 100%, 0 0, 100% 0); } }

.text-sub {
  padding-bottom: 1.2em; }

.home-btn {
  border: 1px solid #ddd;
  line-height: 3em;
  border: 1px solid white;
  padding: 0 2em;
  border-radius: 7px;
  cursor: pointer;
  color: #ddd;
  background: transparent; }
  .home-btn:hover {
    color: grey;
    background: #ddd; }

.ctn-home {
  width: 100%;
  height: 800px;
  background-image: url(../assets/imagen/fondos/eat-3614411_640.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.mask-2 {
  width: 100%;
  height: 300px;
  background: #0f121c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #ddd; }
  @media (min-width: 1200px) {
    .mask-2 {
      clip-path: polygon(52% 100%, 0 0, 100% 0); } }

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  background: #141618; }

.loader {
  margin: 0;
  padding: 0;
  color: #ddd;
  font-size: 16em; }

.loader span {
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: loader 2s linear infinite; }
  .loader span:nth-child(1) {
    animation-delay: 0s; }
  .loader span:nth-child(2) {
    animation-delay: 0.25s; }
  .loader span:nth-child(3) {
    animation-delay: 0.5s; }
  .loader span:nth-child(4) {
    animation-delay: 0.75s; }
  .loader span:nth-child(5) {
    animation-delay: 1s; }
  .loader span:nth-child(6) {
    animation-delay: 1.25s; }
  .loader span:nth-child(7) {
    animation-delay: 1.5s; }

@keyframes loader {
  0%, 100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 40px purple, 0 0 80px purple, 0 0 120px purple, 0 0 200px purple, 0 0 300px purple, 0 0 400px purple; }
  5%, 95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none; } }

.chrismas {
  width: 100%;
  height: 900px;
  background: url(https://stmed.net/sites/default/files/christmas-wallpapers-28333-4710994.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

root {
  --color-first: #007BDF;
  --color-first-alt: #006DC6;
  --color-second: #00CBFF;
  --color-second-alt: #00BFF0;
  --color-third: #FF3C32;
  --color-third-alt: #FF2419;
  --color-accent: #FBA905;
  --color-accent-alt: #F1A000;
  --color-light: #F0F0F0;
  --color-dark: #282D31;
  --color-dark-alt: #141618;
  --color-border: #DFE0E0;
  --color-text: #53575A;
  --color-text-light: #BABDBF;
  --color-body-bg: #FCFCFC; }

.color {
  color: var(--color); }

.background {
  background-color: var(--color); }

.first-color, .color-first {
  --color: var(--first-color);
  --color-alt: var(--first-color-alt); }

.second-color, .color-second {
  --color: var(--second-color);
  --color-alt: var(--second-color-alt); }

.third-color, .color-third {
  --color: var(--third-color);
  --color-alt: var(--third-color-alt); }

.accent-color, .color-accent {
  --color: var(--accent-color);
  --color-alt: var(--accent-color-alt); }

.dark-color, .color-dark {
  --color: var(--dark-color);
  --color-alt: var(--dark-color-alt); }

.text-color, .color-text {
  --color: var(--text-color);
  --color-alt: var(--dark-color); }

.light-color, .color-light {
  --color: var(--light-color);
  --color-alt: var(--border-color); }

.first-color-alt {
  --color: var(--first-color-alt); }

.second-color-alt {
  --color: var(--second-color-alt); }

.third-color-alt {
  --color: var(--third-color-alt); }

.accent-color-alt {
  --color: var(--accent-color-alt); }

.dark-color-alt {
  --color: var(--dark-color-alt); }

.border-color {
  --color: var(--border-color); }

.text-color {
  --color: var(--text-color); }

.banner {
  --radius: 1200px;
  --size: 100%;
  --color: #00CBFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), var(--image) no-repeat center center/cover;
  box-sizing: border-box;
  display: block; }
  @media (min-width: 1024px) {
    .banner {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
      padding-bottom: 6rem;
      padding-top: 6rem; } }
  @media (min-width: 1200px) {
    .banner {
      background: radial-gradient(circle var(--radius) at 100% 100%, transparent 50%, #F6F6F6 50%), var(--image) no-repeat center right/auto var(--size);
      padding-bottom: 6rem;
      padding-top: 6rem;
      border-bottom: 1px solid var(--color-border); } }
  @media (min-width: 1200px) {
    .banner {
      --radius: 1300px; } }
  @media (min-width: 1400px) {
    .banner {
      --radius: 1600px;
      --size: 120%; } }
  .banner .grid {
    --rem: 2rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - var(--rem)*1)/2));
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; }
  @media (min-width: 1024px) {
    .banner .title-banner {
      color: var(--color-second); } }
  .banner__data {
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 2em; }
    @media (min-width: 1024px) {
      .banner__data {
        padding: 1rem 1rem 1rem 2rem;
        text-align: left;
        color: var(--color-text); }
        .banner__data::before {
          position: absolute;
          border-radius: 4px;
          content: "";
          width: 8px;
          height: 100%;
          top: 0;
          left: 0;
          background: var(--color); } }
  .banner__caption {
    position: absolute;
    bottom: -5rem;
    right: 0;
    z-index: 100;
    background: rgba(128, 0, 128, 0.9);
    color: #FFF;
    padding: .5rem;
    font-size: 14px; }
    @media (min-width: 1024) {
      .banner__caption {
        display: none; } }
    .banner__caption span {
      color: var(--color-second); }

.btn-ghost {
  border: 1px solid var(--color);
  padding: .5rem 1rem;
  background-color: var(--color);
  color: White;
  cursor: pointer;
  display: inline-block;
  border-radius: .25rem;
  transition: transform .05s;
  text-align: center; }
  .btn-ghost:hover {
    background-color: var(--color-alt); }
  .btn-ghost:active {
    transform: scale(0.99); }

.platos {
  --image: url(../assets/imagen/grilled-chicken-1334632_1920.jpg); }

.postres {
  --image: url(../assets/imagen/postres/the-cake-427920_1920.jpg); }

.barra {
  --image: url(../assets/imagen/barra/glass-3151279_1920.jpg); }

root {
  --color-first: #007BDF;
  --color-first-alt: #006DC6;
  --color-second: #00CBFF;
  --color-second-alt: #00BFF0;
  --color-third: #FF3C32;
  --color-third-alt: #FF2419;
  --color-accent: #FBA905;
  --color-accent-alt: #F1A000;
  --color-light: #F0F0F0;
  --color-dark: #282D31;
  --color-dark-alt: #141618;
  --color-border: #DFE0E0;
  --color-text: #53575A;
  --color-text-light: #BABDBF;
  --color-body-bg: #FCFCFC; }

.color {
  color: var(--color); }

.background {
  background-color: var(--color); }

.first-color, .color-first {
  --color: var(--first-color);
  --color-alt: var(--first-color-alt); }

.second-color, .color-second {
  --color: var(--second-color);
  --color-alt: var(--second-color-alt); }

.third-color, .color-third {
  --color: var(--third-color);
  --color-alt: var(--third-color-alt); }

.accent-color, .color-accent {
  --color: var(--accent-color);
  --color-alt: var(--accent-color-alt); }

.dark-color, .color-dark {
  --color: var(--dark-color);
  --color-alt: var(--dark-color-alt); }

.text-color, .color-text {
  --color: var(--text-color);
  --color-alt: var(--dark-color); }

.light-color, .color-light {
  --color: var(--light-color);
  --color-alt: var(--border-color); }

.first-color-alt {
  --color: var(--first-color-alt); }

.second-color-alt {
  --color: var(--second-color-alt); }

.third-color-alt {
  --color: var(--third-color-alt); }

.accent-color-alt {
  --color: var(--accent-color-alt); }

.dark-color-alt {
  --color: var(--dark-color-alt); }

.border-color {
  --color: var(--border-color); }

.text-color {
  --color: var(--text-color); }

.form {
  position: absolute;
  width: 100%;
  min-height: 600px;
  max-height: 1000px;
  background: url(../assets/imagen/los-ingredientes-basicos-de-la-gastronomia-espanola-1440x810.jpg);
  background-size: cover;
  background-position: center; }

.login-box {
  position: relative;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 420px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5); }
  @media (min-width-1200px) {
    .login-box {
      top: 10%; } }
  .login-box h1 {
    padding-top: 60px;
    color: #ddd;
    text-align: center; }

.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px); }

.formulario {
  position: relative;
  top: 10%; }
  .formulario .frm {
    box-sizing: border-box;
    height: auto;
    width: auto; }
  .formulario .input {
    position: relative;
    height: 2em;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 1px;
    margin-bottom: 2em;
    border: 0;
    transition: all 300ms;
    box-sizing: content-box; }
    .formulario .input:focus {
      border-bottom: 3px solid #ddd; }
    .formulario .input:focus + .lbl {
      margin-top: -21px; }
  .formulario .lbl {
    position: absolute;
    margin-top: 0;
    padding: 0 .5em;
    left: 0;
    transition: 300ms;
    color: #ddd;
    font-weight: bold; }
  .formulario .fijar {
    margin-top: -21px;
    /* ------clase del JS-------*/ }
  .formulario .btn__submit {
    margin: auto;
    border: 1px solid purple;
    padding: 1em 6rem;
    background-color: var(--color);
    color: White;
    cursor: pointer;
    display: block;
    border-radius: .25rem;
    transition: transform .05s;
    text-align: center;
    font-weight: bold;
    font-size: 1rem; }
    .formulario .btn__submit:hover {
      background-color: purple;
      color: white;
      font-weight: normal; }
    .formulario .btn__submit:active {
      transform: scale(0.98); }

.content-register {
  position: absolute;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/imagen/fondos/register.jpg);
  background-attachment: fixed;
  background-position: center;
  transition: 2s; }

.content-register2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 450px;
  background: url(../assets/imagen/fondos/register.jpg);
  background-position: center;
  z-index: 1; }

.content-register2:hover ~ .content-register {
  filter: blur(11px); }

.content-register2:hover {
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.8); }

.ctn-services {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 400px;
  width: 80%;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex; }

.ctn-service {
  width: calc(40% + 50px);
  height: 400px;
  background: black;
  box-sizing: border-box;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px; }

.ctn-service2 {
  width: calc(60% + 50px);
  height: 400px;
  box-sizing: border-box;
  background: red;
  border-left: 180px solid #000;
  border-bottom: 400px solid transparent;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px; }

.about {
  height: 100%;
  min-height: 450px; }

.content {
  height: 100%;
  height: 600px;
  position: relative;
  font-family: 'Dosis', sans-serif;
  z-index: 1;
  background-color: #d2e1ec;
  background-image: linear-gradient(to bottom, #bbcfe1 0%, #e8f2f6 80%);
  overflow: hidden;
  font-size: 32px;
  font-weight: 500;
  color: #5d7399; }

.snow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 20; }

.main-text {
  padding: 18vh 20px 0 20px;
  text-align: center;
  line-height: 2em;
  font-size: 5vh; }

.home-link {
  font-size: 0.6em;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  border-bottom: 1px dashed rgba(93, 115, 153, 0.5); }
  .home-link:hover {
    opacity: 1; }

.ground {
  height: 160px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f6f9fa;
  box-shadow: 0 0 10px 10px #f6f9fa; }
  .ground:before, .ground:after {
    content: '';
    display: block;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -62.5px;
    z-index: -1;
    background: transparent;
    transform: scaleX(0.2) rotate(45deg); }
  .ground:after {
    left: 50%;
    margin-left: -166.66667px;
    box-shadow: -335px 265px 15px #adb9cd, -555px 645px 15px #aab6cb, -925px 875px 15px #a7b4c9, -1165px 1235px 15px #8193b2, -1455px 1545px 15px #8e9eba, -1815px 1785px 15px #91a1bc, -2080px 2120px 15px #8a9bb8, -2440px 2360px 15px #94a3be, -2710px 2690px 15px #a1aec6, -2975px 3025px 15px #adb9cd, -3330px 3270px 15px #aab6cb, -3600px 3600px 15px #8193b2, -3895px 3905px 15px #a1aec6, -4230px 4170px 15px #b0bccf, -4495px 4505px 15px #8798b6, -4825px 4775px 15px #8496b4; }
  .ground:before {
    right: 50%;
    margin-right: -166.66667px;
    box-shadow: 275px -325px 15px #91a1bc, 555px -645px 15px #8798b6, 945px -855px 15px #a4b1c8, 1165px -1235px 15px #7e90b0, 1480px -1520px 15px #94a3be, 1845px -1755px 15px #7e90b0, 2080px -2120px 15px #9dabc4, 2445px -2355px 15px #97a6c0, 2700px -2700px 15px #8193b2, 3045px -2955px 15px #b7c1d3, 3325px -3275px 15px #8798b6, 3555px -3645px 15px #b7c1d3, 3890px -3910px 15px #91a1bc, 4155px -4245px 15px #9dabc4, 4515px -4485px 15px #8e9eba, 4840px -4760px 15px #97a6c0; }

.mound {
  margin-top: -80px;
  font-weight: 800;
  font-size: 180px;
  text-align: center;
  color: #dd4040;
  pointer-events: none; }
  .mound:before {
    content: '';
    display: block;
    width: 600px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50px;
    z-index: 1;
    border-radius: 100%;
    background-color: #e8f2f6;
    background-image: linear-gradient(to bottom, #dee8f1, #f6f9fa 60px); }
  .mound:after {
    content: '';
    display: block;
    width: 28px;
    height: 6px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 68px;
    z-index: 2;
    background: #dd4040;
    border-radius: 100%;
    transform: rotate(-15deg);
    box-shadow: -56px 12px 0 1px #dd4040, -126px 6px 0 2px #dd4040, -196px 24px 0 3px #dd4040; }

.mound_text {
  transform: rotate(6deg); }

.mound_spade {
  display: block;
  width: 35px;
  height: 30px;
  position: absolute;
  right: 50%;
  top: 42%;
  margin-right: -250px;
  z-index: 0;
  transform: rotate(35deg);
  background: #dd4040; }
  .mound_spade:before, .mound_spade:after {
    content: '';
    display: block;
    position: absolute; }
  .mound_spade:before {
    width: 40%;
    height: 30px;
    bottom: 98%;
    left: 50%;
    margin-left: -20%;
    background: #dd4040; }
  .mound_spade:after {
    width: 100%;
    height: 30px;
    top: -55px;
    left: 0%;
    box-sizing: border-box;
    border: 10px solid #dd4040;
    border-radius: 4px 4px 20px 20px; }
