
.contact{
    width: 100%;
    height: auto;
    background: url(../assets/imagen/fondos/eat.jpg) no-repeat center /cover;
    
}

.contact-nosotros{
    width: 100%;
    height: auto;
    
    margin-bottom: 2em;
    text-align: center;
    position: relative;
}
.contact-vision{
    width: 100%;
    height: auto;
   
    margin-bottom: 2em;
    text-align: center;
    position: relative;
}
.contact-mision{
    width: 100%;
    height: auto;
    
    margin-bottom: 2em;
    text-align: center;
    position: relative;
}