//variables y mixins
@import './variables.scss';


.home{
    padding: 0;
    margin: 0;
}
.video{
 --unit: 6vmax;
 --width: calc(var(--unit) * 16);
 --height: calc( var(--unit) * 9);
 width: var(--width);
 height: var(--height);
 margin: auto;
}
.portada{
    width: 100%;
    //max-width: 960px;
    text-align: center;
    box-sizing: border-box;
}
.content-home{
    width: 100%;
    height: 960px;
    background: url(../assets/imagen/ingredientes.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    &::before,&::after{
        content: '';
        position: absolute;
        background: #fff;
        top: 100%;
        width: 100%;
        height: 100%;
    }
    &::before{
        transform: skewY(10deg);
        transform-origin: right;
        left: -50%;
    }
    &::after{
        transform: skewY(-10deg);
        transform-origin: left;
        right: -50%;
    }
    .ctn-center{
        margin-top: 150px;
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: #ddd;
        .text-title{
            font-size: 3.5em;
        }
        .text-sub{
            font-size: 2em;
            padding-bottom: 1.2em;
        }
    }
}



.home-btn{
    border: 1px solid #ddd;
    line-height: 3em;
    border: 1px solid white;
    padding: 0 2em;
    border-radius: 7px;
    cursor: pointer;
    color: #ddd;
    background: transparent;
    &:hover{
        color: grey;
        background: #ddd;
    }
}
.ctn-home{
    width: 100%;
    height: 800px;
    background-image: url(../assets/imagen/fondos/eat-3614411_640.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    &::before,&::after{
        content: '';
        position: absolute;
        bottom: 100%;
        width: 100%;
        height: 100%;
        background: #fff;
    }
    &::before{
     transform-origin: left;
     transform: skewY(10deg);
     left: 0;
     
    }
    &::after{
        transform-origin: right;
        transform: skewY(-10deg);
        right: 0;
       
    }

}
.ctn-medio{
    position: relative;
    padding-top: 4em;
    width: 80%;
    margin: auto;
    text-align: center;
    .btn{
        border: 2px solid #03a9f4;
        line-height: 3.5em;
        border-radius: 15px;
        text-align: center;
        padding: 1em 4em;
        color: white;
        width: 200px;
        cursor: pointer;
        background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 350%;
        z-index: 2;
        &:hover{
            animation: btn 8s linear infinite;
        }
        @keyframes btn {
            0%{ background-position: 0;}
            100%{ background-position: 350%;}
        }
       
    
    }
    //  .btn svg, .btn svg rect{

    //    position: absolute;
    //    top: 0;
    //     left: 0;
    //      height: 100%;
    //   width: 100%;
    //    fill:  black;
    //  }
    //  .btn svg rect{
    //   stroke: #00e2ff;
    //   stroke-width: 4;
    //   transition: 2s;
    //  stroke-dasharray: 60 200;
    //   stroke-dashoffset: 320;
    //  }

}


//  cargador
    
.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
    background: $color-dark-alt;
}
 .loader{
     margin: 0;
     padding: 0;
     color: #ddd;
     font-size: 16em;
 }   

 .loader span{
     display: table-cell;
     margin: 0;
     padding: 0;
     animation: loader 2s linear infinite;
     &:nth-child(1){
         animation-delay: 0s;
     }
     &:nth-child(2){
         animation-delay: 0.25s;
     }
     &:nth-child(3){
         animation-delay: 0.5s;
     }
     &:nth-child(4){
         animation-delay: 0.75s;
     }
     &:nth-child(5){
         animation-delay: 1s;
     }
     &:nth-child(6){
         animation-delay: 1.25s;
     }
     &:nth-child(7){
         animation-delay: 1.5s;
     }

 }
 @keyframes loader {
     0%,100%{ 
         color: #fff;
          filter: blur(2px);
          text-shadow: 0 0 10px purple,
                      0 0 20px purple,
                      0 0 40px purple,
                      0 0 80px purple,
                      0 0 120px purple,
                      0 0 200px purple,
                      0 0 300px purple,
                      0 0 400px purple;
                      
         }
         5%,95%{
             color: #111;
             filter: blur(0px);
             text-shadow:  none;
         }
 }
 .chrismas{
     width: 100%;
     height: 900px;
     background: url(https://stmed.net/sites/default/files/christmas-wallpapers-28333-4710994.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     
 }